{% extends 'base.html'}
{% block content %}

<form method="post" onsubmit="return v()">
    {% csrf token %}
    <input id="n" name="name" placeholder="Name"><br>
    <input id="e" name="email" type="email" placeholder="Email"><br>
    <textarea name="message" placeholder="Message" rows="4"></textarea><br>
    <button type="submit">send</button>
</form>

<script>

    function v(){
        if(!document.getElementById('n').value.trim() || !document.getElementById('e').value.trim()){
            alert("Please Enter name and email");
            return false;
        }
        return true;
    }

</script>

{% endblock %}