{% extends 'base.html' %}
{% block title %} Home - Restaurant {% endblock %}

{% block content %}
    <div class="text-cneter py-5">
        <h1 class="h2"> Welcome </h1>
        <p class="lead" > Good Food , Fast Service </p>
        <a class="btn btn-dark" href="#"> View Menu </a>
    </div>

    <div class="row g-3">
        <div class="col-md-4"><div class="card p-3 text-cneter">Fresh </div></div>
        <div class="col-md-4"><div class="card p-3 text-center">Fast</div></div>
        <div class="col-md-4"><div class="caed p-3 text-center">Coxy</div></div>
    </div>
{% endblock %}